<div class="row">
<div class="col-12"> 
	<ul class="workExperience"> 
		<li ng-repeat="job in workexperience | orderBy : orderProp"> 
		<div class="row">
		
			<div class="col-4 worktitle company"> {{job.company}}</div> 
			<div class="col-4 worktitle dates"> {{job.startdate}} - {{job.enddate}}</div>

 		</div>
 		<div class="row"> 
			<div class="col-1"></div>
			<div class="col-3 job-title"> {{job.title}}</div>
			</div> 
		<div class="row"> 
			<div class="col-8 description"> {{job.description}}</div> 
		</div>
		
		</li> 
	<ul>

</div> 
</div> 