<!DOCTYPE html> 
<html lang="en" ng-app="mywebsiteApp"> 
<head> 
<meta charset="utf-8"> 
<title>Website</title> 
<link rel="stylesheet" href="css/mywebsite.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js">
    </script>
</head> 
<body> 
<div class="col-12 header" id="header"> 
	Title Bar
</div> 
<div class="row" ng-controller='MainCtrl'> 
	<div class="col-3 box" ng-click="go('workExperience')"> 
		Work Experience
	</div> 
	<div class="col-3 box" ng-click="go('education')"> 	
		Education 
	</div> 
	<div class="col-3 box" ng-click="go('skills')"> 
		Skills
	</div> 
	<div class="col-3 box" ng-click="go('contactMe')"> 
		Contact Me 
	</div> 
</div> 
<div ng-view> 
</div> 
</body> 
<script src="js/controllers.js"></script> 
<script src="js/mywebsite.js"></script> 
</html> 
